<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>北海道ギフト診断</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/css/gift.css}">
</head>

<body>

	<header th:replace="layout/_header :: header"></header>

	<main class="container">

		<div class="title-box">
			<h1>北海道ギフトページ</h1>
		</div>
		<hr>
		<div class="question-number">人気ギフト商品TOP3</div>
		<section class="question-area">

			<a class="question-card" th:each="product, stat : ${topGiftProducts}"
				th:href="@{/products/{id}(id=${product.id})}">
				<!-- topGiftProducts を1件ずつ取り出し、商品詳細ページへのリンクを設定 -->
				<div class="question-number" th:text="'TOP' + ${stat.count}">
					TOP1
				</div>

				<img th:src="@{${product.image}}">
				<!-- 商品画像を表示 -->
				<h3 th:text="${product.name}"></h3>
				<!-- 商品名を表示 -->
				<p th:text="'¥' + ${product.price}"></p>
				<!-- 商品価格を表示 -->
			</a>

		</section>


		<section class="result-area">

			<div class="result-label">
				その他のギフトとして選ばれている商品
			</div>

			<div class="product-list">

				<a class="product-card" th:each="product : ${otherGiftProducts}"
					th:href="@{/products/{id}(id=${product.id})}">
					<!-- otherGiftProducts を1件ずつ取り出し、商品詳細ページへのリンクを設定 -->
					<img th:src="@{${product.image}}">
					<!-- 商品画像を表示 -->
					<h3 th:text="${product.name}"></h3>
					<!-- 商品名を表示 -->
					<p th:text="'¥' + ${product.price}"></p>
					<!-- 商品価格を表示 -->
				</a>

			</div>

		</section>

	</main>

	<header th:replace="layout/_footer :: footer"></header>

</body>

</html>