<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>北ふるトップページ</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">

</head>

<body>

		
		<div th:if="${successMessage}" id="toast" class="toast-message">
			<span class="toast-icon">✓</span>
			<span th:text="${successMessage}"></span>
		</div>
	
	<header th:replace="~{layout/_header :: header}"></header>

	<section class="main-visual">

		<h1 class="main-title">
			旅するように出会う、<br>
			北海道の隠れた名産品。
		</h1>

		<p class="main-subtitle">
			生産者の想いとともに、全国へ。
		</p>

		<div class="main-buttons">

			<a href="#">商品を探す</a>

			<a href="#">地域から探す</a>

			<a th:href="@{/gift}">ギフト診断</a>

		</div>

	</section>

	<div class="content-layout">

		<div class="main-content">
			<h2 class="section-title">
				季節のおすすめ商品
			</h2>
			<section>

				<article class="product-card" th:each="product : ${seasonProducts}">

					<a class="home-product-main" th:href="@{/products/{id}(id=${product.id})}">
						<img th:src="@{/images/案１.png}" alt="商品画像">
					</a>

					<div class="product-info">

						<a class="home-product-main" th:href="@{/products/{id}(id=${product.id})}">
							<h3 class="product-name" th:text="${product.name}">
							</h3>

							<p class="product-price">
								¥<span th:text="${product.price}"></span>
							</p>
						</a>

						<p class="product-producer">
							生産者：
							<a class="producer-story-link" th:href="@{/producer-page(id=${product.producer_id})}"
								th:text="${product.producer_name}"></a>
						</p>

					</div>

				</article>

			</section>

		</div>

		<aside class="side-content">

			地域から探す
			生産者ストーリー

		</aside>

	</div>
	<footer th:replace="~{layout/_footer :: footer}"></footer>
	
		<script>
			window.addEventListener('load', function () {
				const toast = document.getElementById('toast');

				if (toast) {
					setTimeout(function () {
						toast.classList.add('hide');
					}, 5000);
				}
			});
		</script>

	</body>

</body>

</html>
