<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>北ふるトップページ</title>
</head>

<body>
	<section class="main-visual">
		<h2>季節のおすすめ商品</h2>
		<div class="season-products">

			<div class="product-card" th:each="product : ${seasonProducts}">

				<img th:src="${product.image}" alt="商品画像">

				<div class="product-info">

					<h3 class="product-name" th:text="${product.name}">
					</h3>

					<p class="product-price">
						¥<span th:text="${product.price}"></span>
					</p>
					<p class="product-producer">
						¥<span th:text="${product.price}"></span>
					</p>

				</div>

			</div>
		</div>
	</section>
</body>

</html>