<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

	<!-- メールアドレスでユーザ検索 -->
	<select id="findByEmail" resultType="com.example.demo.entity.User">
		SELECT *
		FROM users
		WHERE email = #{email}
	</select>

	<!-- ユーザ登録 -->
	<insert id="insert">
		INSERT INTO users (
			name,
			address,
			email,
			password,
			default_payment
		)
		VALUES (
			#{name},
			#{address},
			#{email},
			#{password},
			'CARD'
		)
	</insert>

	<!-- 基本情報更新 -->
	<update id="updateBasic">
		UPDATE users
		SET
			name = #{name},
			email = #{email},
			password = #{password}
		WHERE id = #{id}
	</update>

	<!-- 住所更新 -->
	<update id="updateAddress">
		UPDATE users
		SET address = #{address}
		WHERE id = #{id}
	</update>

	<!-- 支払い方法更新 -->
	<update id="updateDefaultPayment">
		UPDATE users
		SET default_payment = #{defaultPayment}
		WHERE id = #{id}
	</update>

</mapper>